:root {
  --clr-primary-400: #28283d;
  --clr-primary-300: #87879d;
  --clr-primary-200: #4d96a9;
  --clr-primary-100: #855fb1;
  --clr-neutral-400: #8fe3f9;
  --clr-neutral-300: #d9b8ff;
  --clr-neutral-200: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

.header {
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  gap: 1.5rem;
}

.hero__left-image {
  margin-left: -1rem;
}

.hero__right-image {
  margin-right: -1rem;
  align-self: flex-end;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.heading__primary {
  font-size: 3rem;
  color: var(--clr-primary-400);
  text-align: center;
}

.heading__primary span {
  display: block;
}

.description {
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  color: var(--clr-primary-300);
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: inherit;
}

.btn--download span {
  color: var(--clr-neutral-400);
}

.btn--download,
.btn--what {
  border-radius: 10rem;
  font-weight: 700;
  color: var(--clr-neutral-200);
  padding: 1rem 1.5rem;
  font-size: 1rem;
}

.btn--download {
  background-color: var(--clr-primary-200);
}

.btn--what {
  background-color: var(--clr-primary-100);
}

@media (max-width: 48rem) {
  .hero {
    grid-template-columns: repeat(2, 1fr);
  }
  .hero__content {
    grid-column: 1/-1;
    grid-row: 2;
    padding: 0 2rem;
  }
}

@media (max-width: 27rem) {
  .heading__primary {
    font-size: 2.5rem;
  }

  .description {
    font-size: 0.875rem;
  }

  .btn--download,
  .btn--what {
    font-size: 0.875rem;
  }
}
