:root {
  --clr-primary-400: #28283d;
  --clr-primary-300: #87879d;
  --clr-primary-200: #4d96a9;
  --clr-primary-100: #855fb1;
  --clr-neutral-400: #8fe3f9;
  --clr-neutral-300: #d9b8ff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 400;
}
